<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.app.AppApplication"
        android:allowBackup="true"
        android:icon="@raw/logo"
        android:label="Funance"
        android:theme="@style/AppTheme" >

        <!-- android:name="com.example.app.UserAccountsActivity" -->
        <activity
            android:name="com.example.app.Splash"
            android:label="Funance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.app.UserAccountsActivity"
            android:label="@string/app_name"
           >
        </activity>

        <activity
            android:name="com.example.app.AddAccountDialog"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.app.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.app.AccountViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.app.TransactionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.app.AccountRecordActivity"
            android:label="Account Record" >
        </activity>
        <activity
            android:name="com.example.app.Chart"
            android:label="@string/title_activity_chart"
            android:theme="@style/Theme.AppCompat" >
        </activity>

        <activity
            android:name="com.example.app.ExpensePlotActivity"
            android:label="Cumulative Balance Plot"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.example.app.ScrollTestActivity"
            android:label="@string/title_activity_scroll_test"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.example.app.AccountRecordShow"
            android:label="Account Record"
            android:theme="@style/Theme.AppCompat" >
>
        </activity>
        <activity
            android:name="com.example.app.TrendsActivity"
            android:label="@string/title_activity_trends"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>
    </application>

</manifest>
